In [30]:
import sqlite3
sqlite3.sqlite_version
# NOTE: upsert was added in sqlite 3.24 which is not packaged in many Anaconda distributions hence we 
# have tested the code here on a older but one of the most widely distributed version (3.21)

# If your sqlite version is older than 3.9 than I'll highly encourage you to upgrade it or you'll have to download
# FTS5 package separately to make use of the full text search functionality described here.

'3.21.0'

In [13]:
# listing 5-1

import sqlite3
conn = sqlite3.connect("sqlite-test.db")
cur = conn.cursor()

create_crawl_table = '''CREATE TABLE crawls (
	crawl_id INTEGER NOT NULL, 
	crawl_url VARCHAR, 
	crawl_desc VARCHAR, 
	crawl_date DATETIME, 
	PRIMARY KEY (crawl_id), 
	UNIQUE (crawl_url)
);'''

cur.execute(create_crawl_table)

create_sources_table = '''CREATE TABLE sources (
	source_id INTEGER NOT NULL, 
	source_name VARCHAR, 
	source_url VARCHAR, 
	source_description VARCHAR, 
	PRIMARY KEY (source_id), 
	UNIQUE (source_name), 
	UNIQUE (source_url)
);'''

cur.execute(create_sources_table)

create_webpages_table = '''CREATE TABLE webpages (
	webpage_id INTEGER NOT NULL, 
	crawl_id INTEGER, 
	webpage_url VARCHAR, 
	source_id INTEGER, 
	PRIMARY KEY (webpage_id), 
	CONSTRAINT unique_webpage_crawl UNIQUE (webpage_url, crawl_id), 
	FOREIGN KEY(crawl_id) REFERENCES crawls (crawl_id), 
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
);'''

cur.execute(create_webpages_table)

create_emails_table = '''CREATE TABLE emails (
	email_id INTEGER NOT NULL, 
	email_address VARCHAR, 
	source_id INTEGER, 
	PRIMARY KEY (email_id), 
	UNIQUE (email_address), 
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
);'''

cur.execute(create_emails_table)


create_persons_table = '''CREATE TABLE persons (
	person_id INTEGER NOT NULL, 
	full_name VARCHAR, 
	first_name VARCHAR, 
	last_name VARCHAR, 
	source_id INTEGER, 
	PRIMARY KEY (person_id), 
	UNIQUE (full_name), 
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
);'''

cur.execute(create_persons_table)

create_email_webpages_table = '''CREATE TABLE email_webpages (
	email_webpages_id INTEGER NOT NULL, 
	webpage_id INTEGER, 
	email_id INTEGER, 
	PRIMARY KEY (email_webpages_id), 
	CONSTRAINT unique_webpage_email UNIQUE (webpage_id, email_id), 
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id), 
	FOREIGN KEY(email_id) REFERENCES emails (email_id)
);'''

cur.execute(create_email_webpages_table)

create_articles_table = '''CREATE TABLE articles (
	article_id INTEGER NOT NULL, 
	published_date DATETIME, 
	title VARCHAR, 
	text VARCHAR, 
	image_url VARCHAR, 
	topic VARCHAR, 
	webpage_id INTEGER, 
	PRIMARY KEY (article_id), 
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id)
);'''

cur.execute(create_articles_table)

create_article_authors_table = '''CREATE TABLE article_authors (
	article_author_id INTEGER NOT NULL, 
	webpage_id INTEGER, 
	person_id INTEGER, 
	PRIMARY KEY (article_author_id), 
	CONSTRAINT unique_article_authors UNIQUE (webpage_id, person_id), 
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id), 
	FOREIGN KEY(person_id) REFERENCES persons (person_id)
);'''

cur.execute(create_article_authors_table)

In [4]:
conn.commit()
cur.close()
conn.close()

In [ ]:
#Listing 5-2

import psycopg2
conn = psycopg2.connect(dbname="database_name", user="user_name", password="password", host= "enter_database_url_here")
cur = conn.cursor()

create_crawl_table = '''CREATE TABLE crawls (
	crawl_id SERIAL NOT NULL, 
	crawl_url VARCHAR, 
	crawl_desc VARCHAR, 
	crawl_date TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (crawl_id), 
	UNIQUE (crawl_url)
);'''

cur.execute(create_crawl_table)

create_sources_table = '''CREATE TABLE sources (
	source_id SERIAL NOT NULL, 
	source_name VARCHAR, 
	source_url VARCHAR, 
	source_description VARCHAR, 
	PRIMARY KEY (source_id), 
	UNIQUE (source_name), 
	UNIQUE (source_url)
);'''

cur.execute(create_sources_table)

create_webpages_table = '''CREATE TABLE webpages (
	webpage_id SERIAL NOT NULL, 
	crawl_id INTEGER, 
	webpage_url VARCHAR, 
	source_id INTEGER, 
	PRIMARY KEY (webpage_id), 
	CONSTRAINT unique_webpage_crawl UNIQUE (webpage_url, crawl_id), 
	FOREIGN KEY(crawl_id) REFERENCES crawls (crawl_id), 
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
);'''

cur.execute(create_webpages_table)

create_emails_table = '''CREATE TABLE emails (
	email_id SERIAL NOT NULL, 
	email_address VARCHAR, 
	source_id INTEGER, 
	PRIMARY KEY (email_id), 
	UNIQUE (email_address), 
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
);'''

cur.execute(create_emails_table)


create_persons_table = '''CREATE TABLE persons (
	person_id SERIAL NOT NULL, 
	full_name VARCHAR, 
	first_name VARCHAR, 
	last_name VARCHAR, 
	source_id INTEGER, 
	PRIMARY KEY (person_id), 
	UNIQUE (full_name), 
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
);'''

cur.execute(create_persons_table)

create_email_webpages_table = '''CREATE TABLE email_webpages (
	email_webpages_id SERIAL NOT NULL, 
	webpage_id INTEGER, 
	email_id INTEGER, 
	PRIMARY KEY (email_webpages_id), 
	CONSTRAINT unique_webpage_email UNIQUE (webpage_id, email_id), 
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id), 
	FOREIGN KEY(email_id) REFERENCES emails (email_id)
);'''

cur.execute(create_email_webpages_table)

create_articles_table = '''CREATE TABLE articles (
	article_id INTEGER NOT NULL, 
	published_date DATETIME, 
	title VARCHAR, 
	text VARCHAR, 
	image_url VARCHAR, 
	topic VARCHAR, 
	webpage_id INTEGER, 
	PRIMARY KEY (article_id), 
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id)
);'''

cur.execute(create_articles_table)

create_article_authors_table = '''CREATE TABLE article_authors (
	article_author_id SERIAL NOT NULL, 
	webpage_id INTEGER, 
	person_id INTEGER, 
	PRIMARY KEY (article_author_id), 
	CONSTRAINT unique_article_authors UNIQUE (webpage_id, person_id), 
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id), 
	FOREIGN KEY(person_id) REFERENCES persons (person_id)
);'''

cur.execute(create_article_authors_table)

conn.commit()
cur.close()
conn.close()

In [1]:
#Listing 5-3
# SQLalchemy engine for SQLite
from sqlalchemy import create_engine
engine = create_engine(r'sqlite:///sqlite-test.db', echo=True)

In [ ]:
# Listing 5-4

# SQLalchemy engine for PostgreSQL
from sqlalchemy import create_engine

db_string = "postgresql+psycopg2://username:password3@enter_database_url_here:5432/databasename"
engine = create_engine(db_string,echo=True)

In [2]:
# listing 5-5

from sqlalchemy.engine import reflection
insp = reflection.Inspector.from_engine(engine)
print(insp.get_table_names())

2020-06-23 17:13:36,026 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-06-23 17:13:36,035 INFO sqlalchemy.engine.base.Engine ()
2020-06-23 17:13:36,038 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-06-23 17:13:36,039 INFO sqlalchemy.engine.base.Engine ()
2020-06-23 17:13:36,043 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-06-23 17:13:36,044 INFO sqlalchemy.engine.base.Engine ()
['article_authors', 'articles', 'crawls', 'email_webpages', 'emails', 'persons', 'sources', 'webpages']

In [44]:
# listing 5-6


from sqlalchemy import MetaData
metadata = MetaData()
metadata.reflect(engine)
metadata.drop_all(engine)

2020-06-24 17:58:36,178 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-06-24 17:58:36,179 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,181 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("article_authors")
2020-06-24 17:58:36,181 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,183 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-24 17:58:36,184 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,185 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("article_authors")
2020-06-24 17:58:36,186 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,187 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-24 17:58:36,188 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,189 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("webpages")
2020-06-24 17:58:36,190 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,192 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-24 17:58:36,192 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,194 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("webpages")
2020-06-24 17:58:36,195 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,196 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-24 17:58:36,197 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,199 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("crawls")
2020-06-24 17:58:36,200 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,202 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-24 17:58:36,202 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,204 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("crawls")
2020-06-24 17:58:36,204 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,205 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("crawls")
2020-06-24 17:58:36,206 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,207 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-24 17:58:36,208 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,209 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("crawls")
2020-06-24 17:58:36,210 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,211 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("crawls")
2020-06-24 17:58:36,212 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,213 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_crawls_1")
2020-06-24 17:58:36,213 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,215 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-24 17:58:36,216 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,218 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sources")
2020-06-24 17:58:36,219 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,221 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-24 17:58:36,222 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,224 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("sources")
2020-06-24 17:58:36,224 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,225 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("sources")
2020-06-24 17:58:36,226 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,227 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-24 17:58:36,228 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,230 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("sources")
2020-06-24 17:58:36,230 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,232 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("sources")
2020-06-24 17:58:36,232 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,234 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_sources_2")
2020-06-24 17:58:36,235 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,236 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_sources_1")
2020-06-24 17:58:36,236 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,238 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-24 17:58:36,238 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,240 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("webpages")
2020-06-24 17:58:36,241 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,242 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("webpages")
2020-06-24 17:58:36,242 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,243 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_webpages_1")
2020-06-24 17:58:36,244 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,245 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-24 17:58:36,246 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,248 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("persons")
2020-06-24 17:58:36,248 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,250 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-24 17:58:36,250 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,252 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("persons")
2020-06-24 17:58:36,252 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,253 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-24 17:58:36,254 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,255 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("persons")
2020-06-24 17:58:36,256 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,257 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("persons")
2020-06-24 17:58:36,257 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,259 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_persons_1")
2020-06-24 17:58:36,259 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,260 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-24 17:58:36,261 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,262 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("article_authors")
2020-06-24 17:58:36,263 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,264 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("article_authors")
2020-06-24 17:58:36,264 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,265 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_article_authors_1")

2020-06-24 17:58:36,266 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,267 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-24 17:58:36,268 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,269 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("articles")
2020-06-24 17:58:36,270 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,271 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-24 17:58:36,272 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,273 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("articles")
2020-06-24 17:58:36,273 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,274 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-24 17:58:36,274 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,276 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("articles")
2020-06-24 17:58:36,276 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,277 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("articles")
2020-06-24 17:58:36,277 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,278 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("articles")
2020-06-24 17:58:36,279 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,279 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("articles")
2020-06-24 17:58:36,280 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,281 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-24 17:58:36,281 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,283 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("email_webpages")
2020-06-24 17:58:36,283 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,285 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-24 17:58:36,285 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,286 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("email_webpages")
2020-06-24 17:58:36,287 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,288 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-24 17:58:36,288 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,290 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("emails")
2020-06-24 17:58:36,291 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,292 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-24 17:58:36,292 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,294 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("emails")
2020-06-24 17:58:36,294 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,295 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-24 17:58:36,296 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,297 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("emails")
2020-06-24 17:58:36,297 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,298 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("emails")
2020-06-24 17:58:36,299 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,300 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_emails_1")
2020-06-24 17:58:36,301 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,302 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-24 17:58:36,302 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,303 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("email_webpages")
2020-06-24 17:58:36,304 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,305 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("email_webpages")
2020-06-24 17:58:36,306 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,307 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_email_webpages_1")
2020-06-24 17:58:36,307 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,308 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-24 17:58:36,309 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,310 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("staging")
2020-06-24 17:58:36,311 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,312 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-24 17:58:36,313 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,314 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("staging")
2020-06-24 17:58:36,315 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,315 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("staging")
2020-06-24 17:58:36,316 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,317 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-24 17:58:36,317 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,318 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("staging")
2020-06-24 17:58:36,319 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,320 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_staging_index")
2020-06-24 17:58:36,320 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,322 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("staging")
2020-06-24 17:58:36,322 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,323 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_staging_index")
2020-06-24 17:58:36,323 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,324 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-24 17:58:36,325 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,327 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("article_authors")
2020-06-24 17:58:36,328 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,330 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("webpages")
2020-06-24 17:58:36,330 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,332 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("crawls")
2020-06-24 17:58:36,332 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,333 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sources")
2020-06-24 17:58:36,334 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,335 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("persons")
2020-06-24 17:58:36,335 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,336 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("articles")
2020-06-24 17:58:36,337 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,338 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("email_webpages")
2020-06-24 17:58:36,338 INFO sqlalchemy.engine.base.Engine ()

2020-06-24 17:58:36,340 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("emails")
2020-06-24 17:58:36,340 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,342 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("staging")
2020-06-24 17:58:36,342 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,344 INFO sqlalchemy.engine.base.Engine
DROP TABLE email_webpages
2020-06-24 17:58:36,345 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,365 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,367 INFO sqlalchemy.engine.base.Engine
DROP TABLE articles
2020-06-24 17:58:36,368 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,377 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,378 INFO sqlalchemy.engine.base.Engine
DROP TABLE article_authors
2020-06-24 17:58:36,379 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,385 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,386 INFO sqlalchemy.engine.base.Engine
DROP TABLE emails
2020-06-24 17:58:36,387 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,394 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,396 INFO sqlalchemy.engine.base.Engine
DROP TABLE persons
2020-06-24 17:58:36,397 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,403 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,404 INFO sqlalchemy.engine.base.Engine
DROP TABLE webpages
2020-06-24 17:58:36,405 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,412 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,413 INFO sqlalchemy.engine.base.Engine
DROP TABLE staging
2020-06-24 17:58:36,414 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,426 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,426 INFO sqlalchemy.engine.base.Engine
DROP TABLE sources
2020-06-24 17:58:36,427 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,436 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:36,436 INFO sqlalchemy.engine.base.Engine
DROP TABLE crawls
2020-06-24 17:58:36,437 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:36,444 INFO sqlalchemy.engine.base.Engine COMMIT

In [45]:
#Listing 5-7

from sqlalchemy import Table, Column,UniqueConstraint, Integer, String, DateTime, MetaData, ForeignKey

metadata = MetaData()

crawls = Table('crawls', metadata,
    Column('crawl_id', Integer, primary_key=True),
    Column('crawl_url', String, unique=True),
    Column('crawl_desc', String),
    Column('crawl_date', DateTime),
    )

sources = Table('sources', metadata,
    Column('source_id', Integer, primary_key=True),
    Column('source_name', String, unique=True),
    Column('source_url', String, unique=True),
    Column('source_description', String),
    )

webpages = Table('webpages', metadata,
    Column('webpage_id', Integer, primary_key=True),
    Column('crawl_id', None, ForeignKey('crawls.crawl_id')),
    Column('webpage_url', String),
    Column('source_id', None, ForeignKey('sources.source_id')),
    UniqueConstraint('webpage_url', 'crawl_id', name='unique_webpage_crawl')
    )

emails = Table('emails', metadata,
    Column('email_id', Integer, primary_key=True),
    Column('email_address', String, unique=True),
    Column('source_id', None, ForeignKey('sources.source_id')),
    )

email_webpages = Table('email_webpages', metadata,
    Column('email_webpages_id', Integer, primary_key=True),
    Column('webpage_id', None, ForeignKey('webpages.webpage_id')),
    Column('email_id', None, ForeignKey('emails.email_id')),
    UniqueConstraint('webpage_id', 'email_id', name='unique_webpage_email')
    )

articles = Table('articles', metadata,
    Column('article_id', Integer, primary_key=True),
    Column('published_date', DateTime),
    Column('title', String),
    Column('text', String),
    Column('image_url', String),
    Column('topic', String),
    Column('webpage_id', None, ForeignKey('webpages.webpage_id'))
    )

persons = Table('persons', metadata,
    Column('person_id', Integer, primary_key=True),
    Column('full_name', String, unique=True),
    Column('first_name', String),
    Column('last_name', String),
    Column('source_id', None, ForeignKey('sources.source_id'))
    )

article_authors = Table('article_authors', metadata,
    Column('article_author_id', Integer, primary_key=True),
    Column('webpage_id', None, ForeignKey('webpages.webpage_id')),
    Column('person_id', None, ForeignKey('persons.person_id')),
    UniqueConstraint('webpage_id', 'person_id', name='unique_article_authors')
    )
metadata.create_all(engine)

2020-06-24 17:58:39,602 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("crawls")
2020-06-24 17:58:39,603 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,604 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("crawls")
2020-06-24 17:58:39,604 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,605 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sources")
2020-06-24 17:58:39,605 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,606 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("sources")
2020-06-24 17:58:39,607 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,607 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("webpages")
2020-06-24 17:58:39,608 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,609 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("webpages")
2020-06-24 17:58:39,609 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,610 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("emails")
2020-06-24 17:58:39,611 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,611 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("emails")
2020-06-24 17:58:39,612 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,613 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("email_webpages")
2020-06-24 17:58:39,613 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,614 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("email_webpages")
2020-06-24 17:58:39,615 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,616 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("articles")
2020-06-24 17:58:39,617 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,617 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("articles")
2020-06-24 17:58:39,618 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,619 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("persons")
2020-06-24 17:58:39,620 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,621 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("persons")
2020-06-24 17:58:39,623 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,625 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("article_authors")
2020-06-24 17:58:39,626 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,627 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("article_authors")
2020-06-24 17:58:39,629 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,630 INFO sqlalchemy.engine.base.Engine
CREATE TABLE crawls (
	crawl_id INTEGER NOT NULL,
	crawl_url VARCHAR,
	crawl_desc VARCHAR,
	crawl_date DATETIME,
	PRIMARY KEY (crawl_id),
	UNIQUE (crawl_url)
)


2020-06-24 17:58:39,632 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,640 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:39,641 INFO sqlalchemy.engine.base.Engine
CREATE TABLE sources (
	source_id INTEGER NOT NULL,
	source_name VARCHAR,
	source_url VARCHAR,
	source_description VARCHAR,
	PRIMARY KEY (source_id),
	UNIQUE (source_name),
	UNIQUE (source_url)
)


2020-06-24 17:58:39,642 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,655 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:39,656 INFO sqlalchemy.engine.base.Engine
CREATE TABLE webpages (
	webpage_id INTEGER NOT NULL,
	crawl_id INTEGER,
	webpage_url VARCHAR,
	source_id INTEGER,
	PRIMARY KEY (webpage_id),
	CONSTRAINT unique_webpage_crawl UNIQUE (webpage_url, crawl_id),
	FOREIGN KEY(crawl_id) REFERENCES crawls (crawl_id),
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
)


2020-06-24 17:58:39,657 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,664 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:39,666 INFO sqlalchemy.engine.base.Engine
CREATE TABLE emails (
	email_id INTEGER NOT NULL,
	email_address VARCHAR,
	source_id INTEGER,
	PRIMARY KEY (email_id),
	UNIQUE (email_address),
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
)


2020-06-24 17:58:39,666 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,673 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:39,674 INFO sqlalchemy.engine.base.Engine
CREATE TABLE persons (
	person_id INTEGER NOT NULL,
	full_name VARCHAR,
	first_name VARCHAR,
	last_name VARCHAR,
	source_id INTEGER,
	PRIMARY KEY (person_id),
	UNIQUE (full_name),
	FOREIGN KEY(source_id) REFERENCES sources (source_id)
)


2020-06-24 17:58:39,674 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,681 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:39,683 INFO sqlalchemy.engine.base.Engine
CREATE TABLE email_webpages (
	email_webpages_id INTEGER NOT NULL,
	webpage_id INTEGER,
	email_id INTEGER,
	PRIMARY KEY (email_webpages_id),
	CONSTRAINT unique_webpage_email UNIQUE (webpage_id, email_id),
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id),
	FOREIGN KEY(email_id) REFERENCES emails (email_id)
)


2020-06-24 17:58:39,683 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,691 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:39,692 INFO sqlalchemy.engine.base.Engine
CREATE TABLE articles (
	article_id INTEGER NOT NULL,
	published_date DATETIME,
	title VARCHAR,
	text VARCHAR,
	image_url VARCHAR,
	topic VARCHAR,
	webpage_id INTEGER,
	PRIMARY KEY (article_id),
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id)
)


2020-06-24 17:58:39,694 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,700 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 17:58:39,702 INFO sqlalchemy.engine.base.Engine
CREATE TABLE article_authors (
	article_author_id INTEGER NOT NULL,
	webpage_id INTEGER,
	person_id INTEGER,
	PRIMARY KEY (article_author_id),
	CONSTRAINT unique_article_authors UNIQUE (webpage_id, person_id),
	FOREIGN KEY(webpage_id) REFERENCES webpages (webpage_id),
	FOREIGN KEY(person_id) REFERENCES persons (person_id)
)


2020-06-24 17:58:39,704 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 17:58:39,710 INFO sqlalchemy.engine.base.Engine COMMIT

In [46]:
#Listing 5-7 (cont.)

print(metadata.tables.keys())

dict_keys(['crawls', 'sources', 'webpages', 'emails', 'email_webpages', 'articles', 'persons', 'article_authors'])

In [1]:
###UsingSQLite as our engine####

from sqlalchemy import create_engine
engine = create_engine(r'sqlite:///sqlite-test.db', echo=True)

In [2]:
#Listing 5-8

import pandas as pd
import numpy as np
from datetime import date

df = pd.read_csv("emails_db_ready.csv")
df["crawl_date"] = pd.to_datetime(df["crawl_date"]).dt.date
df.head()

,crawl_date,crawl_desc,crawl_url,email,email_base_url,webpage_source,webpage_url
0,2020-05-01,us fda warning letters,S3bucketlocation/keyname,Lynn.Bonner@fda.hhs.gov,fda.hhs.gov,fda.gov,https://www.fda.gov/inspections-compliance-enf...
1,2020-05-01,us fda warning letters,S3bucketlocation/keyname,Lynn.Bonner@fda.hhs.gov,fda.hhs.gov,fda.gov,https://www.fda.gov/inspections-compliance-enf...
2,2020-05-01,us fda warning letters,S3bucketlocation/keyname,feb@fda.hhs.gov,fda.hhs.gov,fda.gov,https://www.fda.gov/inspections-compliance-enf...
3,2020-05-01,us fda warning letters,S3bucketlocation/keyname,feb@fda.hhs.gov,fda.hhs.gov,fda.gov,https://www.fda.gov/inspections-compliance-enf...
4,2020-05-01,us fda warning letters,S3bucketlocation/keyname,alan@thepipeshop.co.uk,thepipeshop.co.uk,fda.gov,https://www.fda.gov/inspections-compliance-enf...

In [3]:
# Listing 5-9

from sqlalchemy import MetaData, DateTime

metadata = MetaData()
metadata.reflect(engine)
df.to_sql('staging',con = engine, dtype={"crawl_date":DateTime})

metadata.reflect(engine)
metadata.tables["staging"]

2020-06-25 13:53:47,266 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-06-25 13:53:47,273 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,274 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-06-25 13:53:47,275 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,276 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-06-25 13:53:47,277 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,282 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("article_authors")
2020-06-25 13:53:47,282 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,285 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-25 13:53:47,286 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,288 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("article_authors")
2020-06-25 13:53:47,289 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,291 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-25 13:53:47,291 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,297 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("webpages")
2020-06-25 13:53:47,298 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,300 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-25 13:53:47,301 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,303 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("webpages")
2020-06-25 13:53:47,304 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,306 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-25 13:53:47,306 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,308 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("crawls")
2020-06-25 13:53:47,309 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,312 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-25 13:53:47,313 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,315 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("crawls")
2020-06-25 13:53:47,315 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,317 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("crawls")
2020-06-25 13:53:47,317 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,318 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-25 13:53:47,319 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,320 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("crawls")
2020-06-25 13:53:47,321 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,322 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("crawls")
2020-06-25 13:53:47,323 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,325 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_crawls_1")
2020-06-25 13:53:47,325 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,327 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-25 13:53:47,327 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,336 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sources")
2020-06-25 13:53:47,337 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,339 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-25 13:53:47,340 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,341 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("sources")
2020-06-25 13:53:47,342 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,343 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("sources")
2020-06-25 13:53:47,344 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,345 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-25 13:53:47,346 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,348 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("sources")
2020-06-25 13:53:47,349 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,350 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("sources")
2020-06-25 13:53:47,351 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,353 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_sources_2")
2020-06-25 13:53:47,354 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,355 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_sources_1")
2020-06-25 13:53:47,355 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,357 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-25 13:53:47,358 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,359 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("webpages")
2020-06-25 13:53:47,360 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,362 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("webpages")
2020-06-25 13:53:47,362 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,364 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_webpages_1")
2020-06-25 13:53:47,364 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,366 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-25 13:53:47,366 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,368 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("persons")
2020-06-25 13:53:47,369 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,371 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-25 13:53:47,372 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,375 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("persons")
2020-06-25 13:53:47,376 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,378 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-25 13:53:47,380 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,383 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("persons")
2020-06-25 13:53:47,384 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,385 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("persons")
2020-06-25 13:53:47,387 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,388 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_persons_1")
2020-06-25 13:53:47,389 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,391 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-25 13:53:47,391 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,393 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("article_authors")

2020-06-25 13:53:47,394 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,396 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("article_authors")
2020-06-25 13:53:47,397 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,400 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_article_authors_1")
2020-06-25 13:53:47,401 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,402 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-25 13:53:47,403 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,405 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("articles")
2020-06-25 13:53:47,406 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,408 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-25 13:53:47,408 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,410 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("articles")
2020-06-25 13:53:47,411 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,414 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-25 13:53:47,416 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,418 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("articles")
2020-06-25 13:53:47,418 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,420 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("articles")
2020-06-25 13:53:47,420 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,421 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("articles")
2020-06-25 13:53:47,422 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,423 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("articles")
2020-06-25 13:53:47,424 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,425 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-25 13:53:47,426 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,428 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("email_webpages")
2020-06-25 13:53:47,429 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,430 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-25 13:53:47,431 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,433 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("email_webpages")
2020-06-25 13:53:47,435 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,436 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-25 13:53:47,438 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,440 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("emails")
2020-06-25 13:53:47,441 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,443 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-25 13:53:47,444 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,446 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("emails")
2020-06-25 13:53:47,447 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,448 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-25 13:53:47,449 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,451 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("emails")
2020-06-25 13:53:47,452 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,454 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("emails")
2020-06-25 13:53:47,455 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,456 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_emails_1")
2020-06-25 13:53:47,457 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,458 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-25 13:53:47,459 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,461 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("email_webpages")
2020-06-25 13:53:47,462 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,463 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("email_webpages")
2020-06-25 13:53:47,464 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,465 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_email_webpages_1")
2020-06-25 13:53:47,466 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,468 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-25 13:53:47,468 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,470 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("news_index")
2020-06-25 13:53:47,471 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,474 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index' AND type = 'table'
2020-06-25 13:53:47,474 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,476 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("news_index")
2020-06-25 13:53:47,477 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,478 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("news_index")
2020-06-25 13:53:47,479 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,480 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index' AND type = 'table'
2020-06-25 13:53:47,481 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,482 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index")
2020-06-25 13:53:47,483 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,484 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index")
2020-06-25 13:53:47,485 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,487 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index")
2020-06-25 13:53:47,488 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,489 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index")
2020-06-25 13:53:47,490 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,491 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index' AND type = 'table'
2020-06-25 13:53:47,492 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,494 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("news_index_config")
2020-06-25 13:53:47,494 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,496 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_config' AND type = 'table'
2020-06-25 13:53:47,497 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,498 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("news_index_config")
2020-06-25 13:53:47,499 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,500 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("news_index_config")
2020-06-25 13:53:47,501 INFO sqlalchemy.engine.base.Engine ()

2020-06-25 13:53:47,502 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_config' AND type = 'table'
2020-06-25 13:53:47,503 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,504 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_config")
2020-06-25 13:53:47,505 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,506 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_config")
2020-06-25 13:53:47,507 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,508 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_news_index_config_1")
2020-06-25 13:53:47,509 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,510 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_config' AND type = 'table'
2020-06-25 13:53:47,511 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,513 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("news_index_content")
2020-06-25 13:53:47,514 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,516 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_content' AND type = 'table'
2020-06-25 13:53:47,516 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,518 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("news_index_content")
2020-06-25 13:53:47,519 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,520 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("news_index_content")
2020-06-25 13:53:47,521 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,522 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_content' AND type = 'table'
2020-06-25 13:53:47,523 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,524 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_content")
2020-06-25 13:53:47,525 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,526 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index_content")
2020-06-25 13:53:47,527 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,529 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_content")
2020-06-25 13:53:47,531 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,534 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index_content")
2020-06-25 13:53:47,534 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,536 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_content' AND type = 'table'
2020-06-25 13:53:47,538 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,541 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("news_index_data")
2020-06-25 13:53:47,542 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,544 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_data' AND type = 'table'
2020-06-25 13:53:47,545 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,549 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("news_index_data")
2020-06-25 13:53:47,550 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,551 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("news_index_data")
2020-06-25 13:53:47,552 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,553 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_data' AND type = 'table'
2020-06-25 13:53:47,554 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,555 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_data")
2020-06-25 13:53:47,556 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,557 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index_data")
2020-06-25 13:53:47,558 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,559 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_data")
2020-06-25 13:53:47,560 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,561 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index_data")
2020-06-25 13:53:47,562 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,564 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_data' AND type = 'table'
2020-06-25 13:53:47,566 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,569 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("news_index_docsize")
2020-06-25 13:53:47,570 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,573 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_docsize' AND type = 'table'
2020-06-25 13:53:47,575 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,577 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("news_index_docsize")
2020-06-25 13:53:47,578 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,582 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("news_index_docsize")
2020-06-25 13:53:47,584 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,585 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_docsize' AND type = 'table'
2020-06-25 13:53:47,586 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,587 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_docsize")
2020-06-25 13:53:47,588 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,589 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index_docsize")
2020-06-25 13:53:47,590 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,591 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_docsize")
2020-06-25 13:53:47,592 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,593 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("news_index_docsize")
2020-06-25 13:53:47,595 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,599 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_docsize' AND type = 'table'
2020-06-25 13:53:47,601 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,602 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("news_index_idx")
2020-06-25 13:53:47,604 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,605 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_idx' AND type = 'table'
2020-06-25 13:53:47,606 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,608 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("news_index_idx")
2020-06-25 13:53:47,609 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,610 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("news_index_idx")
2020-06-25 13:53:47,611 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,613 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_idx' AND type = 'table'
2020-06-25 13:53:47,614 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,615 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_idx")
2020-06-25 13:53:47,615 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,617 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("news_index_idx")

2020-06-25 13:53:47,618 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,619 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_news_index_idx_1")
2020-06-25 13:53:47,619 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,621 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'news_index_idx' AND type = 'table'
2020-06-25 13:53:47,621 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,630 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("staging")
2020-06-25 13:53:47,631 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,632 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("staging")
2020-06-25 13:53:47,633 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,637 INFO sqlalchemy.engine.base.Engine
CREATE TABLE staging (
	"index" BIGINT,
	crawl_date DATETIME,
	crawl_desc TEXT,
	crawl_url TEXT,
	email TEXT,
	email_base_url TEXT,
	webpage_source TEXT,
	webpage_url TEXT
)


2020-06-25 13:53:47,638 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,659 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 13:53:47,660 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_staging_index ON staging ("index")
2020-06-25 13:53:47,660 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,669 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 13:53:47,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-06-25 13:53:47,675 INFO sqlalchemy.engine.base.Engine INSERT INTO staging ("index", crawl_date, crawl_desc, crawl_url, email, email_base_url, webpage_source, webpage_url) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2020-06-25 13:53:47,676 INFO sqlalchemy.engine.base.Engine ((0, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'Lynn.Bonner@fda.hhs.gov', 'fda.hhs.gov', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/nestle-purina-petcare-01022015'), (1, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'Lynn.Bonner@fda.hhs.gov', 'fda.hhs.gov', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/nestle-purina-petcare-01022015'), (2, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'feb@fda.hhs.gov', 'fda.hhs.gov', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/sagami-rubber-industries-co-ltd-11242015'), (3, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'feb@fda.hhs.gov', 'fda.hhs.gov', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/sagami-rubber-industries-co-ltd-11242015'), (4, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'alan@thepipeshop.co.uk', 'thepipeshop.co.uk', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/pipe-shop-edinburgh-01072015'), (5, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'CTPCompliance@fda.hhs.gov', 'fda.hhs.gov', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/pipe-shop-edinburgh-01072015'), (6, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'CTPCompliance@fda.hhs.gov', 'fda.hhs.gov', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/pipe-shop-edinburgh-01072015'), (7, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'abuse@webfusion.com', 'webfusion.com', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/pipe-shop-edinburgh-01072015')  ... displaying 10 of 38 total bound parameter sets ...  (36, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'abuse@regtons.com', 'regtons.com', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/wwwcigs24x7com-02052015'), (37, '2020-05-01 00:00:00.000000', 'us fda warning letters', 'S3bucketlocation/keyname', 'abuse@confluence-networks.com', 'confluence-networks.com', 'fda.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/wwwcigs24x7com-02052015'))
2020-06-25 13:53:47,679 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 13:53:47,687 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-06-25 13:53:47,687 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,689 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("staging")
2020-06-25 13:53:47,690 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,691 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-25 13:53:47,692 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,693 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("staging")
2020-06-25 13:53:47,694 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,696 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("staging")
2020-06-25 13:53:47,697 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,699 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-25 13:53:47,700 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,701 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("staging")
2020-06-25 13:53:47,702 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,704 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_staging_index")
2020-06-25 13:53:47,705 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,707 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("staging")
2020-06-25 13:53:47,708 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,709 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_staging_index")
2020-06-25 13:53:47,710 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:47,711 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-25 13:53:47,711 INFO sqlalchemy.engine.base.Engine ()

Table('staging', MetaData(bind=None), Column('index', BIGINT(), table=<staging>), Column('crawl_date', DATETIME(), table=<staging>), Column('crawl_desc', TEXT(), table=<staging>), Column('crawl_url', TEXT(), table=<staging>), Column('email', TEXT(), table=<staging>), Column('email_base_url', TEXT(), table=<staging>), Column('webpage_source', TEXT(), table=<staging>), Column('webpage_url', TEXT(), table=<staging>), schema=None)

In [4]:
# Listing 5-10

from sqlalchemy.sql import text
conn = engine.connect()

insert_into_crawls_table = text(
"INSERT OR IGNORE INTO crawls (crawl_date, crawl_url, crawl_desc) "
"SELECT crawl_date, crawl_url, crawl_desc FROM staging;"

)
conn.execute(insert_into_crawls_table)

insert_into_sources_table = text(
"INSERT OR IGNORE INTO sources (source_url) "
"SELECT webpage_source FROM staging UNION SELECT email_base_url FROM staging;"

)

conn.execute(insert_into_sources_table)

2020-06-25 13:53:55,344 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO crawls (crawl_date, crawl_url, crawl_desc) SELECT crawl_date, crawl_url, crawl_desc FROM staging;
2020-06-25 13:53:55,345 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:55,347 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 13:53:55,348 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO sources (source_url) SELECT webpage_source FROM staging UNION SELECT email_base_url FROM staging;
2020-06-25 13:53:55,349 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:55,350 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
# Listing 5-11

insert_into_webpages_table = text(
"INSERT OR IGNORE INTO webpages (crawl_id, webpage_url, source_id) "
"SELECT crawls.crawl_id, staging.webpage_url, sources.source_id "
"FROM crawls, staging, sources "
"WHERE staging.crawl_url = crawls.crawl_url "
"AND staging.webpage_source = sources.source_url;"
)

conn.execute(insert_into_webpages_table)

2020-06-25 13:53:59,810 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO webpages (crawl_id, webpage_url, source_id) SELECT crawls.crawl_id, staging.webpage_url, sources.source_id FROM crawls, staging, sources WHERE staging.crawl_url = crawls.crawl_url AND staging.webpage_source = sources.source_url;
2020-06-25 13:53:59,816 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:53:59,817 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
# Listing 5-12

insert_into_emails_table = text(
"INSERT OR IGNORE INTO emails (source_id, email_address) "
"SELECT sources.source_id, staging.email "
"FROM sources, staging "
"WHERE staging.email_base_url = sources.source_url;"

)
conn.execute(insert_into_emails_table)


insert_into_email_webpages_table = text(
"INSERT OR IGNORE INTO email_webpages (webpage_id, email_id) "
"SELECT webpages.webpage_id, emails.email_id "
"FROM webpages, emails,staging "
"WHERE staging.webpage_url = webpages.webpage_url "
"AND staging.email = emails.email_address;"

)
conn.execute(insert_into_email_webpages_table)

2020-06-25 13:54:03,269 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO emails (source_id, email_address) SELECT sources.source_id, staging.email FROM sources, staging WHERE staging.email_base_url = sources.source_url;
2020-06-25 13:54:03,272 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:54:03,281 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 13:54:03,289 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO email_webpages (webpage_id, email_id) SELECT webpages.webpage_id, emails.email_id FROM webpages, emails,staging WHERE staging.webpage_url = webpages.webpage_url AND staging.email = emails.email_address;
2020-06-25 13:54:03,289 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:54:03,293 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
# Listing 5-12 (cont.)


from sqlalchemy.sql import text

drop_staging_table = text(
    "DROP TABLE staging;"
    )
conn.execute(drop_staging_table)

2020-06-25 13:54:06,765 INFO sqlalchemy.engine.base.Engine DROP TABLE staging;
2020-06-25 13:54:06,767 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 13:54:06,801 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
#listing 5-13

from sqlalchemy.sql import text
select_emails = text(
"SELECT emails.email_address, webpages.webpage_url "
"FROM emails, webpages, email_webpages "
"WHERE emails.source_id = (select sources.source_id from sources where source_url = :e1) AND "
"emails.email_id = email_webpages.email_id AND "
"email_webpages.webpage_id = webpages.webpage_id "
"ORDER BY emails.email_address;"
)
query = conn.execute(select_emails, e1 = 'fda.hhs.gov')
result_list = query.fetchall()
result_list_keys = query.keys() 
result_list

2020-06-25 14:00:20,198 INFO sqlalchemy.engine.base.Engine SELECT emails.email_address, webpages.webpage_url FROM emails, webpages, email_webpages WHERE emails.source_id = (select sources.source_id from sources where source_url = ?) AND emails.email_id = email_webpages.email_id AND email_webpages.webpage_id = webpages.webpage_id ORDER BY emails.email_address;
2020-06-25 14:00:20,199 INFO sqlalchemy.engine.base.Engine ('fda.hhs.gov',)

[('Araceli.rey@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/apotex-research-private-limited-437669-01302015'),
 ('CTPCompliance@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/pipe-shop-edinburgh-01072015'),
 ('CTPCompliance@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/usa-cigscom-01162015'),
 ('CTPCompliance@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/wwwcigs24x7com-02052015'),
 ('Lillian.Aveta@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/nysw-beverage-brands-438025-01072015'),
 ('Lynn.Bonner@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/nestle-purina-petcare-01022015'),
 ('ReportabilityReviewTeam@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/praxair-inc-01072015'),
 ('ReportabilityReviewTeam@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/conkin-surgical-instruments-ltd-01122015'),
 ('drugshortages@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/apotex-research-private-limited-437669-01302015'),
 ('drugshortages@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/micro-labs-limited-01092015'),
 ('feb@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/sagami-rubber-industries-co-ltd-11242015'),
 ('feb@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/prodimed-sas-481475-11022015'),
 ('feb@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/oculo-plastik-inc-12222015'),
 ('matthew.dionne@fda.hhs.gov', 'https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/sunny-boys-dairy-01132015')]

In [12]:
# Listing 5-14

import pandas as pd
import numpy as np

fetch_all_emails = text(
    "select emails.email_address, emails.email_id from emails;"
    )
query = conn.execute(fetch_all_emails)
result_list = query.fetchall()
result_list_keys = query.keys()


df = pd.DataFrame(result_list, columns = result_list_keys)
df["mailbox_name"] = df["email_address"].apply(lambda x: x.split('@')[0])
df.mailbox_name.value_counts().head()

2020-06-25 14:11:51,833 INFO sqlalchemy.engine.base.Engine select emails.email_address, emails.email_id from emails;
2020-06-25 14:11:51,834 INFO sqlalchemy.engine.base.Engine ()

abuse                      5
Yvette.Johnson             1
ReportabilityReviewTeam    1
Lynn.Bonner                1
drugshortages              1
Name: mailbox_name, dtype: int64

In [65]:
# listing 5-15

import pandas as pd
import numpy as np
from datetime import date

df = pd.read_csv("news_data.csv")
df["crawl_date"] = pd.to_datetime(df["crawl_date"]).dt.date
df['date'].replace('None', np.nan, inplace=True)
df["date"] = df["date"].fillna(df["crawl_date"])
df["date"] = pd.to_datetime(df["date"]).dt.date

df.head()

,author,crawl_date,crawl_desc,crawl_url,date,full_text,img_url,site_name,title,topic,url,webpage_source
0,NaN,2020-06-06,news cc-crawl,crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231...,2020-06-06,Winifred Cation 1938 - 2020 Winifred Frances ...,https://i0.wp.com/iolaregister.s3.amazonaws.co...,The Iola Register,Winifred Cation - The Iola Register,entertainment,https://www.iolaregister.com/obituaries/winifr...,iolaregister.com
1,NaN,2020-06-06,news cc-crawl,crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231...,2020-06-06,California again extends major contract for p...,https://www.cbs17.com/wp-content/uploads/sites...,CBS17.com,California again extends major contract for pr...,business,https://www.cbs17.com/news/california-again-ex...,cbs17.com
2,NaN,2020-06-06,news cc-crawl,crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231...,2020-06-06,Hundreds of George Floyd protesters come out ...,https://www.newstimes.com/img/pages/article/op...,NewsTimes,Hundreds of George Floyd protesters come out i...,entertainment,https://www.newstimes.com/news/article/Hundred...,newstimes.com
3,NaN,2020-06-06,news cc-crawl,crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231...,2020-06-06,Donald Trump's Playboy chat shows 'he is insp...,https://media.apnarm.net.au/media/images/2020/...,Sunshine Coast Daily,Donald Trump's Playboy chat shows 'he is inspi...,entertainment,https://www.sunshinecoastdaily.com.au/news/tru...,sunshinecoastdaily.com.au
4,NaN,2020-06-06,news cc-crawl,crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231...,2020-07-06,Watch this discussion.Stop watching this disc...,https://bloximages.chicago2.vip.townnews.com/h...,Herald-Review.com,"Blue, Ricya | Eisenhower High School | herald-...",tech,https://herald-review.com/virtual_graduations/...,herald-review.com

In [66]:
# listing 5-15 (cont.)
from sqlalchemy import MetaData, DateTime

metadata = MetaData()
metadata.reflect(engine)
df.to_sql('staging',con = engine, dtype={"crawl_date":DateTime, "date":DateTime})

metadata.reflect(engine)
metadata.tables["staging"]

2020-06-24 18:13:59,223 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-06-24 18:13:59,225 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,227 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("article_authors")
2020-06-24 18:13:59,228 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,229 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-24 18:13:59,230 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,233 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("article_authors")
2020-06-24 18:13:59,233 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,234 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-24 18:13:59,235 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,237 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("webpages")
2020-06-24 18:13:59,238 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,240 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-24 18:13:59,242 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,244 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("webpages")
2020-06-24 18:13:59,244 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,246 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-24 18:13:59,247 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,249 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("crawls")
2020-06-24 18:13:59,249 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,251 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-24 18:13:59,252 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,254 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("crawls")
2020-06-24 18:13:59,257 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,258 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("crawls")
2020-06-24 18:13:59,259 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,260 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-24 18:13:59,261 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,262 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("crawls")
2020-06-24 18:13:59,263 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,264 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("crawls")
2020-06-24 18:13:59,265 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,266 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_crawls_1")
2020-06-24 18:13:59,267 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,268 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'crawls' AND type = 'table'
2020-06-24 18:13:59,269 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,271 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sources")
2020-06-24 18:13:59,272 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,273 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-24 18:13:59,274 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,275 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("sources")
2020-06-24 18:13:59,276 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,277 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("sources")
2020-06-24 18:13:59,277 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,278 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-24 18:13:59,279 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,280 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("sources")
2020-06-24 18:13:59,280 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,282 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("sources")
2020-06-24 18:13:59,282 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,283 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_sources_2")
2020-06-24 18:13:59,284 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,284 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_sources_1")
2020-06-24 18:13:59,285 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,286 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sources' AND type = 'table'
2020-06-24 18:13:59,286 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,288 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("webpages")
2020-06-24 18:13:59,288 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,289 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("webpages")
2020-06-24 18:13:59,290 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,291 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_webpages_1")
2020-06-24 18:13:59,291 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,292 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'webpages' AND type = 'table'
2020-06-24 18:13:59,293 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,294 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("persons")
2020-06-24 18:13:59,295 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,296 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-24 18:13:59,297 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,298 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("persons")
2020-06-24 18:13:59,299 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,300 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-24 18:13:59,300 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,301 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("persons")
2020-06-24 18:13:59,302 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,303 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("persons")
2020-06-24 18:13:59,303 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,304 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_persons_1")
2020-06-24 18:13:59,305 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,306 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'persons' AND type = 'table'
2020-06-24 18:13:59,306 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,308 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("article_authors")
2020-06-24 18:13:59,308 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,309 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("article_authors")
2020-06-24 18:13:59,310 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,311 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_article_authors_1")

2020-06-24 18:13:59,312 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,313 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'article_authors' AND type = 'table'
2020-06-24 18:13:59,314 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,315 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("articles")
2020-06-24 18:13:59,316 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,317 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-24 18:13:59,318 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,319 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("articles")
2020-06-24 18:13:59,319 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,321 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-24 18:13:59,321 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,323 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("articles")
2020-06-24 18:13:59,324 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,325 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("articles")
2020-06-24 18:13:59,325 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,327 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("articles")
2020-06-24 18:13:59,328 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,330 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("articles")
2020-06-24 18:13:59,332 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,333 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'articles' AND type = 'table'
2020-06-24 18:13:59,334 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,337 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("email_webpages")
2020-06-24 18:13:59,339 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,341 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-24 18:13:59,342 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,343 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("email_webpages")
2020-06-24 18:13:59,344 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,345 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-24 18:13:59,346 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,349 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("emails")
2020-06-24 18:13:59,349 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,350 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-24 18:13:59,351 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,352 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("emails")
2020-06-24 18:13:59,353 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,354 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-24 18:13:59,354 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,356 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("emails")
2020-06-24 18:13:59,356 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,358 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("emails")
2020-06-24 18:13:59,359 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,360 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_emails_1")
2020-06-24 18:13:59,361 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,362 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'emails' AND type = 'table'
2020-06-24 18:13:59,362 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,364 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("email_webpages")
2020-06-24 18:13:59,365 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,366 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("email_webpages")
2020-06-24 18:13:59,367 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,368 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_email_webpages_1")
2020-06-24 18:13:59,369 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,370 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'email_webpages' AND type = 'table'
2020-06-24 18:13:59,370 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,380 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("staging")
2020-06-24 18:13:59,381 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,382 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("staging")
2020-06-24 18:13:59,383 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,387 INFO sqlalchemy.engine.base.Engine
CREATE TABLE staging (
	"index" BIGINT,
	author TEXT,
	crawl_date DATETIME,
	crawl_desc TEXT,
	crawl_url TEXT,
	date DATETIME,
	full_text TEXT,
	img_url TEXT,
	site_name TEXT,
	title TEXT,
	topic TEXT,
	url TEXT,
	webpage_source TEXT
)


2020-06-24 18:13:59,387 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,404 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 18:13:59,405 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_staging_index ON staging ("index")
2020-06-24 18:13:59,405 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,412 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 18:13:59,415 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-06-24 18:13:59,417 INFO sqlalchemy.engine.base.Engine INSERT INTO staging ("index", author, crawl_date, crawl_desc, crawl_url, date, full_text, img_url, site_name, title, topic, url, webpage_source) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-06-24 18:13:59,418 INFO sqlalchemy.engine.base.Engine ((0, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', ' Winifred Cation 1938 - 2020 Winifred Frances (Stoddard) Cation was born 100 years ago in Yates Center. Winifred died Wednesday, June 3, 2020 of natu ... (1741 characters truncated) ... ace Health Care Center for taking such great care of Winifred over the past several years and Larksfield Place Hospice for their support and comfort.', 'https://i0.wp.com/iolaregister.s3.amazonaws.com/production/uploads/2020/03/ornamental-cherry-4950417_1920.jpg?fit=1920%2C1280&ssl=1', 'The Iola Register', 'Winifred Cation - The Iola Register', 'entertainment', 'https://www.iolaregister.com/obituaries/winifred-cation', 'iolaregister.com'), (1, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', ' California again extends major contract for protective masks SACRAMENTO, Calif. (AP)  California is giving a Chinese manufacturer it contracted wit ... (1332 characters truncated) ... alf the deals total cost  upfront. BYD refunded half of that money  $247 million  in May when it failed to meet its first certification deadline.', 'https://www.cbs17.com/wp-content/uploads/sites/29/2019/06/cropped-Browser-tab-logo.jpg', 'CBS17.com', 'California again extends major contract for protective masks  CBS17.comOpen NavigationClose NavigationSearchFacebookTwitterYouTubeRSS FeedEmail', 'business', 'https://www.cbs17.com/news/california-again-extends-major-contract-for-protective-masks/', 'cbs17.com'), (2, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', " Hundreds of George Floyd protesters come out in Arkansas Published\n6:00 pm EDT, Friday, June 5, 2020 LITTLE ROCK, Ark. (AP)  Hundreds of people in ... (688 characters truncated) ... azette that he was moved by the demonstration in Harrison because he saw peoples faces as they cheered for change and in support of racial equality.", 'https://www.newstimes.com/img/pages/article/opengraph_default.jpg', 'NewsTimes', 'Hundreds of George Floyd protesters come out in Arkansas - NewsTimes', 'entertainment', 'https://www.newstimes.com/news/article/Hundreds-of-George-Floyd-protesters-come-out-in-15320800.php', 'newstimes.com'), (3, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', ' Donald Trump\'s Playboy chat shows \'he is inspired by China\' Safely behind additional screen fencing and amped-up security at the White House, US  ... (674 characters truncated) ... irrored comments he is making now from the Oval Office. Donald Trump and Brandi Brandt on the cover of Playboy magazine, March 1990. Picture: Playboy', 'https://media.apnarm.net.au/media/images/2020/06/06/v3imagesbin439c542a5b013326777eec281819a157-guhc0cd05rfbwo8kgu2_ct1880x930.jpg', 'Sunshine Coast Daily', "Donald Trump's Playboy chat shows 'he is inspired by China' | Sunshine Coast Dailypremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_icon", 'entertainment', 'https://www.sunshinecoastdaily.com.au/news/trump-haunted-by-playboy-interview/4031153/', 'sunshinecoastdaily.com.au'), (4, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-07-06 00:00:00.000000', " Watch this discussion.Stop watching this discussion. (0) comments Welcome to the discussion. Keep it Clean. Please avoid obscene, vulgar, lewd,\nrac ... (635 characters truncated) ... d responsible for factual errors, misspellings, or student profile information as such. If you see an error that needs correcting, please contact us.", 'https://bloximages.chicago2.vip.townnews.com/herald-review.com/content/tncms/assets/v3/editorial/b/a2/ba2d38a9-32ff-51de-b367-dbc66c14a181/5eda7f0be2425.image.jpg?crop=880%2C495%2C0%2C239&resize=880%2C495&order=crop%2Cresize', 'Herald-Review.com', 'Blue, Ricya | Eisenhower High School | herald-review.com', 'tech', 'https://herald-review.com/virtual_graduations/high_school/eisenhower_high_school/blue-ricya/article_29ebba96-43f4-55a9-8449-516141ef6276.html', 'herald-review.com'), (5, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', ' California governor orders end to carotid hold training SACRAMENTO, Calif. (AP)  California Gov. Gavin Newsom on Friday ordered the state police tr ... (1230 characters truncated) ... crowds during the current protests. Newsom also said he wants the Legislature to set standards for crowd control and police use of force in protests.', 'https://www.cbs17.com/wp-content/uploads/sites/29/2019/06/cropped-Browser-tab-logo.jpg', 'CBS17.com', 'California governor orders end to carotid hold training  CBS17.comOpen NavigationClose NavigationSearchFacebookTwitterYouTubeRSS FeedEmail', 'politics', 'https://www.cbs17.com/news/california-governor-orders-end-to-carotid-hold-training/', 'cbs17.com'), (6, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', ' Americans losing confidence in democracy People are giving up on traditional, political actions like voting, town hall meetings, and volunteering. T ... (1027 characters truncated) ...  respond with a call for law and order, inviting comparisons to President Nixons election in 1968. Already a subscriber? Username or Email Address', 'https://i2.wp.com/iolaregister.s3.amazonaws.com/production/uploads/2020/06/Alabama-protests.jpg?fit=1000%2C668&ssl=1', 'The Iola Register', 'Americans losing confidence in democracy - The Iola Register', 'politics', 'https://www.iolaregister.com/opinion/americans-losing-confidence-in-democracy', 'iolaregister.com'), (7, None, '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', ' The unemployment rate rose to a record high of 13.7%, topping the previous high of 13.1% set in December 1982 in more than four decades of comparabl ... (493 characters truncated) ...  292,000 in May. Copyright 2020 The Associated Press. All rights reserved. This material may not be published, broadcast, rewritten or redistributed.', 'https://www.cbs17.com/wp-content/uploads/sites/29/2019/06/cropped-Browser-tab-logo.jpg', 'CBS17.com', 'Canadian economy unexpectedly adds 289,600 jobs in May  CBS17.comOpen NavigationClose NavigationSearchFacebookTwitterYouTubeRSS FeedEmail', 'business', 'https://www.cbs17.com/news/canadian-economy-unexpectedly-adds-289600-jobs-in-may/', 'cbs17.com')  ... displaying 10 of 11 total bound parameter sets ...  (9, 'Jenna Thompson', '2020-06-06 00:00:00.000000', 'news cc-crawl', 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', '2020-06-06 00:00:00.000000', ' When is it going to stop? When is it going to stop? WHEN video footage emerged of George Floyd\'s fatal encounter with Minneapolis Police, like  ... (433 characters truncated) ... k Lives Matter movement. While proud to see Australians uniting over this latest tragedy, Ms Monaghan said she has reservations about its intentions.', 'https://media.apnarm.net.au/media/images/2020/06/03/v3imagesbin74e9103c79ec9a9ac638043d3412e158-nkemtmqkdwue6t80gu2_fct1065x598x108.0_ct1880x930.jpg', 'Sunshine Coast Daily', '\x80\x9cWhen is it going to stop?\x80\x9d | Sunshine Coast Dailypremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_icon', 'politics', 'https://www.sunshinecoastdaily.com.au/news/when-is-it-going-to-stop/4030733/', 'sunshinecoastdaily.com.au'), (10, None, None, None, None, None, None, None, 'web fusion', None, None, None, 'webfusion.com'))

2020-06-24 18:13:59,421 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 18:13:59,431 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-06-24 18:13:59,432 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,433 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("staging")
2020-06-24 18:13:59,435 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,437 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-24 18:13:59,438 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,439 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("staging")
2020-06-24 18:13:59,440 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,441 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("staging")
2020-06-24 18:13:59,441 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,442 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-24 18:13:59,443 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,445 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("staging")
2020-06-24 18:13:59,447 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,448 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_staging_index")
2020-06-24 18:13:59,449 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,450 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("staging")
2020-06-24 18:13:59,451 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,452 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_staging_index")
2020-06-24 18:13:59,453 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:13:59,454 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'staging' AND type = 'table'
2020-06-24 18:13:59,454 INFO sqlalchemy.engine.base.Engine ()

Table('staging', MetaData(bind=None), Column('index', BIGINT(), table=<staging>), Column('author', TEXT(), table=<staging>), Column('crawl_date', DATETIME(), table=<staging>), Column('crawl_desc', TEXT(), table=<staging>), Column('crawl_url', TEXT(), table=<staging>), Column('date', DATETIME(), table=<staging>), Column('full_text', TEXT(), table=<staging>), Column('img_url', TEXT(), table=<staging>), Column('site_name', TEXT(), table=<staging>), Column('title', TEXT(), table=<staging>), Column('topic', TEXT(), table=<staging>), Column('url', TEXT(), table=<staging>), Column('webpage_source', TEXT(), table=<staging>), schema=None)

In [70]:
# listing 5-15 (cont.)


from sqlalchemy.sql import text

insert_into_crawls_table = text(
"INSERT OR IGNORE INTO crawls (crawl_date, crawl_url, crawl_desc) "
"SELECT crawl_date, crawl_url, crawl_desc FROM staging;"

)
conn.execute(insert_into_crawls_table)

insert_into_sources_table = text(
"INSERT OR IGNORE INTO sources (source_url, source_name) "
"SELECT webpage_source, site_name FROM staging;"
)
conn.execute(insert_into_sources_table)

2020-06-24 18:18:57,297 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO crawls (crawl_date, crawl_url, crawl_desc) SELECT crawl_date, crawl_url, crawl_desc FROM staging;
2020-06-24 18:18:57,298 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:18:57,309 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 18:18:57,316 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO sources (source_url, source_name) SELECT webpage_source, site_name FROM staging;
2020-06-24 18:18:57,316 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:18:57,318 INFO sqlalchemy.engine.base.Engine COMMIT

In [71]:
# listing 5-15 (cont.)


update_sources = text(
"UPDATE sources SET source_name = (SELECT staging.site_name FROM staging WHERE source_url=staging.webpage_source);"
)
conn.execute(update_sources)

2020-06-24 18:18:59,941 INFO sqlalchemy.engine.base.Engine UPDATE sources SET source_name = (SELECT staging.site_name FROM staging WHERE source_url=staging.webpage_source);
2020-06-24 18:18:59,942 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:18:59,953 INFO sqlalchemy.engine.base.Engine COMMIT

In [72]:
# listing 5-15 (cont.)


insert_into_webpages_table = text(
"INSERT OR IGNORE INTO webpages (crawl_id, webpage_url, source_id) "
"SELECT crawls.crawl_id, staging.url, sources.source_id "
"FROM crawls, staging, sources "
"WHERE staging.crawl_url = crawls.crawl_url "
"AND staging.webpage_source = sources.source_url;"
)

conn.execute(insert_into_webpages_table)

insert_into_articles_table = text(
"INSERT OR IGNORE INTO articles (published_date,title, text, image_url,topic, webpage_id) "
"SELECT staging.date, staging.title, staging.full_text, staging.img_url, staging.topic, webpages.webpage_id "
"FROM webpages, staging "
"WHERE staging.url = webpages.webpage_url;"

)
conn.execute(insert_into_articles_table)


insert_into_persons_table = text(
"INSERT OR IGNORE INTO persons (full_name) "
"SELECT staging.author "
"FROM staging "
"WHERE staging.author IS NOT NULL;"

)
conn.execute(insert_into_persons_table)

insert_into_article_authors_table = text(
"INSERT OR IGNORE INTO article_authors (webpage_id, person_id) "
"SELECT webpages.webpage_id, persons.person_id "
"FROM persons, staging, webpages "
"WHERE staging.author IS NOT NULL "
"AND staging.author = persons.full_name "
"AND staging.url = webpages.webpage_url;"


)
conn.execute(insert_into_article_authors_table)

2020-06-24 18:19:22,972 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO webpages (crawl_id, webpage_url, source_id) SELECT crawls.crawl_id, staging.url, sources.source_id FROM crawls, staging, sources WHERE staging.crawl_url = crawls.crawl_url AND staging.webpage_source = sources.source_url;
2020-06-24 18:19:22,973 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:19:22,983 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 18:19:22,992 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO articles (published_date,title, text, image_url,topic, webpage_id) SELECT staging.date, staging.title, staging.full_text, staging.img_url, staging.topic, webpages.webpage_id FROM webpages, staging WHERE staging.url = webpages.webpage_url;
2020-06-24 18:19:22,993 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:19:22,995 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 18:19:23,002 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO persons (full_name) SELECT staging.author FROM staging WHERE staging.author IS NOT NULL;
2020-06-24 18:19:23,003 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:19:23,004 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-24 18:19:23,005 INFO sqlalchemy.engine.base.Engine INSERT OR IGNORE INTO article_authors (webpage_id, person_id) SELECT webpages.webpage_id, persons.person_id FROM persons, staging, webpages WHERE staging.author IS NOT NULL AND staging.author = persons.full_name AND staging.url = webpages.webpage_url;
2020-06-24 18:19:23,006 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:19:23,008 INFO sqlalchemy.engine.base.Engine COMMIT

In [73]:
# listing 5-15 (cont.)


drop_staging_table = text(
"DROP TABLE staging;"
)
conn.execute(drop_staging_table)

2020-06-24 18:21:08,909 INFO sqlalchemy.engine.base.Engine DROP TABLE staging;
2020-06-24 18:21:08,911 INFO sqlalchemy.engine.base.Engine ()
2020-06-24 18:21:08,927 INFO sqlalchemy.engine.base.Engine COMMIT

In [62]:
# listing 5-16

from sqlalchemy.sql import text
import pandas as pd
import numpy as np

s = text(
"SELECT articles.article_id, webpages.webpage_url, "
"articles.title || ' ' || articles.text || ' ' || articles.topic AS fulltext "
"FROM articles INNER JOIN webpages ON articles.webpage_id = webpages.webpage_id "
"WHERE fulltext LIKE '%trump%' "
"AND fulltext LIKE '%losing%';"
)
conn = engine.connect()
query = conn.execute(s)
result_list = query.fetchall()
result_list_keys = query.keys()

df = pd.DataFrame(result_list, columns = result_list_keys)
df.head()

2020-06-25 11:36:46,331 INFO sqlalchemy.engine.base.Engine SELECT articles.article_id, webpages.webpage_url, articles.title || ' ' || articles.text || ' ' || articles.topic AS fulltext FROM articles INNER JOIN webpages ON articles.webpage_id = webpages.webpage_id WHERE fulltext LIKE '%trump%' AND fulltext LIKE '%losing%';
2020-06-25 11:36:46,331 INFO sqlalchemy.engine.base.Engine ()

,article_id,webpage_url,fulltext
0,7,https://www.iolaregister.com/opinion/americans...,Americans losing confidence in democracy - The...

In [34]:
# listing 5-17


create_fts_table = text("CREATE VIRTUAL TABLE news_index USING fts5 (fulltext, tokenize=porter);")
conn.execute(create_fts_table)

2020-06-25 10:42:27,340 INFO sqlalchemy.engine.base.Engine CREATE VIRTUAL TABLE news_index USING fts5 (fulltext, tokenize=porter);
2020-06-25 10:42:27,343 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 10:42:27,368 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
# listing 5-18



s = text(
'''INSERT OR IGNORE INTO news_index (
    rowid,
    fulltext
  )
  SELECT 
    articles.article_id,
    articles.title || ' ' || articles.text || ' ' || articles.topic AS fulltext
FROM articles;'''
)
conn.execute(s)

In [37]:
# Listing 5-19

# trigger on insert on articles

insert_trigger = text(
'''CREATE TRIGGER fts_articles_insert AFTER INSERT ON articles BEGIN
  INSERT INTO news_index (
    rowid,
    fulltext
  )
  SELECT 
    articles.article_id,
    articles.title || ' ' || articles.text || ' ' || articles.topic AS fulltext
FROM articles;
END;'''

)
conn.execute(insert_trigger)

# trigger on update on articles table

update_trigger = text(
'''CREATE TRIGGER fts_articles_update UPDATE OF news_index ON articles BEGIN
  UPDATE news_index SET fulltext = new.fulltext WHERE rowid = old.id;
END;''')
conn.execute(update_trigger)

# trigger on delete on articles table

delete_trigger = text(
'''CREATE TRIGGER fts_articles_delete AFTER DELETE ON articles BEGIN
    DELETE FROM news_index WHERE rowid = old.id;
END;'''

)
conn.execute(delete_trigger)

2020-06-25 10:45:44,142 INFO sqlalchemy.engine.base.Engine CREATE TRIGGER fts_articles_insert AFTER INSERT ON articles BEGIN
  INSERT INTO news_index (
    rowid,
    fulltext
  )
  SELECT
    articles.article_id,
    articles.title || ' ' || articles.text || ' ' || articles.topic AS fulltext
FROM articles;
END;
2020-06-25 10:45:44,144 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 10:45:44,160 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 10:45:44,162 INFO sqlalchemy.engine.base.Engine CREATE TRIGGER fts_articles_update UPDATE OF news_index ON articles BEGIN
  UPDATE news_index SET fulltext = new.fulltext WHERE rowid = old.id;
END;
2020-06-25 10:45:44,163 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 10:45:44,169 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 10:45:44,171 INFO sqlalchemy.engine.base.Engine CREATE TRIGGER fts_articles_delete AFTER DELETE ON articles BEGIN
    DELETE FROM news_index WHERE rowid = old.id;
END;
2020-06-25 10:45:44,171 INFO sqlalchemy.engine.base.Engine ()
2020-06-25 10:45:44,179 INFO sqlalchemy.engine.base.Engine COMMIT

In [57]:
# Listing 5-20

s = text(
    "SELECT rowid, rank, fulltext "
    "FROM news_index "
    "WHERE news_index MATCH 'fulltext:Trump AND lose' ORDER BY rank;"
) 
query = conn.execute(s)
result_list = query.fetchall()
result_list_keys = query.keys()

df = pd.DataFrame(result_list, columns = result_list_keys)
df.head()

2020-06-25 11:16:11,841 INFO sqlalchemy.engine.base.Engine SELECT rowid, rank, fulltext FROM news_index WHERE news_index MATCH 'fulltext:Trump AND lose' ORDER BY rank;
2020-06-25 11:16:11,842 INFO sqlalchemy.engine.base.Engine ()

   rowid      rank                                           fulltext
0      7 -3.758945  Americans losing confidence in democracy - The...

In [59]:
# Listing 5-21
s = text(
'''SELECT article_id, webpage_url, articles."text"
FROM webpages INNER JOIN articles
ON articles.webpage_id = webpages.webpage_id 
WHERE article_id = (SELECT rowid 
FROM news_index
WHERE news_index MATCH 'fulltext:Trump AND lose');'''
) 
query = conn.execute(s)
result_list = query.fetchall()
result_list_keys = query.keys()

df = pd.DataFrame(result_list, columns = result_list_keys)
df.head()

2020-06-25 11:17:28,657 INFO sqlalchemy.engine.base.Engine SELECT article_id, webpage_url, articles."text"
FROM webpages INNER JOIN articles
ON articles.webpage_id = webpages.webpage_id
WHERE article_id = (SELECT rowid
FROM news_index
WHERE news_index MATCH 'fulltext:Trump AND lose');
2020-06-25 11:17:28,658 INFO sqlalchemy.engine.base.Engine ()

,article_id,webpage_url,text
0,7,https://www.iolaregister.com/opinion/americans...,Americans losing confidence in democracy Peop...

In [ ]:
# Postgresql related queries

In [1]:

# SQLalchemy engine for PostgreSQL (refer to listing 5-4)
from sqlalchemy import create_engine


engine = create_engine(db_string,echo=True)
conn = engine.connect()

2020-06-30 10:08:58,436 INFO sqlalchemy.engine.base.Engine select version()
2020-06-30 10:08:58,440 INFO sqlalchemy.engine.base.Engine {}
2020-06-30 10:08:59,052 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-06-30 10:08:59,054 INFO sqlalchemy.engine.base.Engine {}
2020-06-30 10:08:59,640 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-06-30 10:08:59,640 INFO sqlalchemy.engine.base.Engine {}
2020-06-30 10:08:59,964 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-06-30 10:08:59,965 INFO sqlalchemy.engine.base.Engine {}
2020-06-30 10:09:00,280 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-06-30 10:09:00,282 INFO sqlalchemy.engine.base.Engine {}

In [28]:
# Listing 5-22

import pandas as pd
import numpy as np
from datetime import date
import io

df = pd.read_csv("emails_db_ready.csv")
df["crawl_date"] = pd.to_datetime(df["crawl_date"]).dt.date
df.head()

df.head(0).to_sql('staging', engine, if_exists='replace',index=False)
raw_conn = engine.raw_connection()
cur = raw_conn.cursor()
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)

cur.copy_from(output, 'staging', null="") # null values become ''
raw_conn.commit()

# Listing 5-23

s = text(
"ALTER TABLE staging "
"ALTER COLUMN crawl_date TYPE TIMESTAMP WITHOUT TIME ZONE USING crawl_date::timestamp without time zone;"
)

conn.execute(s)

insert_into_crawls_table = text(
"INSERT INTO crawls (crawl_date, crawl_url, crawl_desc) "
"SELECT crawl_date, crawl_url, crawl_desc FROM staging "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_crawls_table)

insert_into_sources_table = text(
"INSERT INTO sources (source_url) "
"SELECT webpage_source FROM staging "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_sources_table)

insert_into_webpages_table = text(
"INSERT INTO webpages (crawl_id, webpage_url, source_id) "
"SELECT crawls.crawl_id, staging.webpage_url, sources.source_id "
"FROM crawls, staging, sources "
"WHERE staging.crawl_url = crawls.crawl_url "
"AND staging.webpage_source = sources.source_url "
"ON CONFLICT DO NOTHING;"
)

conn.execute(insert_into_webpages_table)

insert_into_emails_table = text(
"INSERT INTO emails (source_id, email_address) "
"SELECT sources.source_id, staging.email "
"FROM sources, staging "
"WHERE staging.email_base_url = sources.source_url "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_emails_table)

insert_into_email_webpages_table = text(
"INSERT INTO email_webpages (webpage_id, email_id) "
"SELECT webpages.webpage_id, emails.email_id "
"FROM webpages, emails,staging "
"WHERE staging.webpage_url = webpages.webpage_url "
"AND staging.email = emails.email_address "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_email_webpages_table)

2020-06-25 17:48:18,433 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-06-25 17:48:18,434 INFO sqlalchemy.engine.base.Engine {'name': 'staging'}
2020-06-25 17:48:19,307 INFO sqlalchemy.engine.base.Engine
CREATE TABLE staging (
	crawl_date TEXT,
	crawl_desc TEXT,
	crawl_url TEXT,
	email TEXT,
	email_base_url TEXT,
	webpage_source TEXT,
	webpage_url TEXT
)


2020-06-25 17:48:19,309 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:48:19,917 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:48:21,382 INFO sqlalchemy.engine.base.Engine ALTER TABLE staging ALTER COLUMN crawl_date TYPE TIMESTAMP WITHOUT TIME ZONE USING crawl_date::timestamp without time zone;
2020-06-25 17:48:21,388 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:48:22,065 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:48:22,375 INFO sqlalchemy.engine.base.Engine INSERT INTO crawls (crawl_date, crawl_url, crawl_desc) SELECT crawl_date, crawl_url, crawl_desc FROM staging ON CONFLICT DO NOTHING;
2020-06-25 17:48:22,378 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:48:22,989 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:48:23,268 INFO sqlalchemy.engine.base.Engine INSERT INTO sources (source_url) SELECT webpage_source FROM staging ON CONFLICT DO NOTHING;
2020-06-25 17:48:23,277 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:48:23,910 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:48:24,214 INFO sqlalchemy.engine.base.Engine INSERT INTO webpages (crawl_id, webpage_url, source_id) SELECT crawls.crawl_id, staging.webpage_url, sources.source_id FROM crawls, staging, sources WHERE staging.crawl_url = crawls.crawl_url AND staging.webpage_source = sources.source_url ON CONFLICT DO NOTHING;
2020-06-25 17:48:24,221 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:48:24,832 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:48:25,138 INFO sqlalchemy.engine.base.Engine INSERT INTO emails (source_id, email_address) SELECT sources.source_id, staging.email FROM sources, staging WHERE staging.email_base_url = sources.source_url ON CONFLICT DO NOTHING;
2020-06-25 17:48:25,142 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:48:25,722 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:48:26,010 INFO sqlalchemy.engine.base.Engine INSERT INTO email_webpages (webpage_id, email_id) SELECT webpages.webpage_id, emails.email_id FROM webpages, emails,staging WHERE staging.webpage_url = webpages.webpage_url AND staging.email = emails.email_address ON CONFLICT DO NOTHING;
2020-06-25 17:48:26,016 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:48:26,651 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
# Not shown in text
import pandas as pd
import numpy as np
from datetime import date
import io

df = pd.read_csv("news_data.csv")
df["crawl_date"] = pd.to_datetime(df["crawl_date"]).dt.date
df['date'].replace('None', np.nan, inplace=True)

df["date"] = df["date"].fillna(df["crawl_date"])
df["date"] = pd.to_datetime(df["date"]).dt.date


df.to_sql('staging', engine, if_exists='replace')


s = text(
"ALTER TABLE staging "
"ALTER COLUMN crawl_date TYPE TIMESTAMP WITHOUT TIME ZONE USING crawl_date::timestamp without time zone;"
)
conn.execute(s)
conn = engine.connect()
s = text(
"ALTER TABLE staging "
"ALTER COLUMN date TYPE TIMESTAMP WITHOUT TIME ZONE USING crawl_date::timestamp without time zone;"
)
conn.execute(s)

insert_into_crawls_table = text(
"INSERT INTO crawls (crawl_date, crawl_url, crawl_desc) "
"SELECT crawl_date, crawl_url, crawl_desc FROM staging "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_crawls_table)


insert_into_sources_table = text(
"INSERT INTO sources (source_url, source_name) "
"SELECT webpage_source, site_name FROM staging "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_sources_table)

insert_into_webpages_table = text(
"INSERT INTO webpages (crawl_id, webpage_url, source_id) "
"SELECT crawls.crawl_id, staging.url, sources.source_id "
"FROM crawls, staging, sources "
"WHERE staging.crawl_url = crawls.crawl_url "
"AND staging.webpage_source = sources.source_url "
"ON CONFLICT DO NOTHING;"
)

conn.execute(insert_into_webpages_table)


insert_into_articles_table = text(
"INSERT INTO articles (published_date,title, text, image_url,topic, webpage_id) "
"SELECT staging.date, staging.title, staging.full_text, staging.img_url, staging.topic, webpages.webpage_id "
"FROM webpages, staging "
"WHERE staging.url = webpages.webpage_url "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_articles_table)

insert_into_persons_table = text(
"INSERT INTO persons (full_name) "
"SELECT staging.author "
"FROM staging "
"WHERE staging.author IS NOT NULL "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_persons_table)

insert_into_article_authors_table = text(
"INSERT INTO article_authors (webpage_id, person_id) "
"SELECT webpages.webpage_id, persons.person_id "
"FROM persons, staging, webpages "
"WHERE staging.author IS NOT NULL "
"AND staging.author = persons.full_name "
"AND staging.url = webpages.webpage_url "
"ON CONFLICT DO NOTHING;"

)
conn.execute(insert_into_article_authors_table)

2020-06-25 17:17:37,539 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-06-25 17:17:37,539 INFO sqlalchemy.engine.base.Engine {'name': 'staging'}
2020-06-25 17:17:38,460 INFO sqlalchemy.engine.base.Engine
CREATE TABLE staging (
	index BIGINT,
	author TEXT,
	crawl_date DATE,
	crawl_desc TEXT,
	crawl_url TEXT,
	date DATE,
	full_text TEXT,
	img_url TEXT,
	site_name TEXT,
	title TEXT,
	topic TEXT,
	url TEXT,
	webpage_source TEXT
)


2020-06-25 17:17:38,462 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:39,049 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:39,335 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_staging_index ON staging (index)
2020-06-25 17:17:39,337 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:39,980 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:40,300 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-06-25 17:17:40,305 INFO sqlalchemy.engine.base.Engine INSERT INTO staging (index, author, crawl_date, crawl_desc, crawl_url, date, full_text, img_url, site_name, title, topic, url, webpage_source) VALUES (%(index)s, %(author)s, %(crawl_date)s, %(crawl_desc)s, %(crawl_url)s, %(date)s, %(full_text)s, %(img_url)s, %(site_name)s, %(title)s, %(topic)s, %(url)s, %(webpage_source)s)
2020-06-25 17:17:40,307 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': ' Winifred Cation 1938 - 2020 Winifred Frances (Stoddard) Cation was born 100 years ago in Yates Center. Winifred died Wednesday, June 3, 2020 of natu ... (1741 characters truncated) ... ace Health Care Center for taking such great care of Winifred over the past several years and Larksfield Place Hospice for their support and comfort.', 'img_url': 'https://i0.wp.com/iolaregister.s3.amazonaws.com/production/uploads/2020/03/ornamental-cherry-4950417_1920.jpg?fit=1920%2C1280&ssl=1', 'site_name': 'The Iola Register', 'title': 'Winifred Cation - The Iola Register', 'topic': 'entertainment', 'url': 'https://www.iolaregister.com/obituaries/winifred-cation', 'webpage_source': 'iolaregister.com'}, {'index': 1, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': ' California again extends major contract for protective masks SACRAMENTO, Calif. (AP)  California is giving a Chinese manufacturer it contracted wit ... (1332 characters truncated) ... alf the deals total cost  upfront. BYD refunded half of that money  $247 million  in May when it failed to meet its first certification deadline.', 'img_url': 'https://www.cbs17.com/wp-content/uploads/sites/29/2019/06/cropped-Browser-tab-logo.jpg', 'site_name': 'CBS17.com', 'title': 'California again extends major contract for protective masks  CBS17.comOpen NavigationClose NavigationSearchFacebookTwitterYouTubeRSS FeedEmail', 'topic': 'business', 'url': 'https://www.cbs17.com/news/california-again-extends-major-contract-for-protective-masks/', 'webpage_source': 'cbs17.com'}, {'index': 2, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': " Hundreds of George Floyd protesters come out in Arkansas Published\n6:00 pm EDT, Friday, June 5, 2020 LITTLE ROCK, Ark. (AP)  Hundreds of people in ... (688 characters truncated) ... azette that he was moved by the demonstration in Harrison because he saw peoples faces as they cheered for change and in support of racial equality.", 'img_url': 'https://www.newstimes.com/img/pages/article/opengraph_default.jpg', 'site_name': 'NewsTimes', 'title': 'Hundreds of George Floyd protesters come out in Arkansas - NewsTimes', 'topic': 'entertainment', 'url': 'https://www.newstimes.com/news/article/Hundreds-of-George-Floyd-protesters-come-out-in-15320800.php', 'webpage_source': 'newstimes.com'}, {'index': 3, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': ' Donald Trump\'s Playboy chat shows \'he is inspired by China\' Safely behind additional screen fencing and amped-up security at the White House, US  ... (674 characters truncated) ... irrored comments he is making now from the Oval Office. Donald Trump and Brandi Brandt on the cover of Playboy magazine, March 1990. Picture: Playboy', 'img_url': 'https://media.apnarm.net.au/media/images/2020/06/06/v3imagesbin439c542a5b013326777eec281819a157-guhc0cd05rfbwo8kgu2_ct1880x930.jpg', 'site_name': 'Sunshine Coast Daily', 'title': "Donald Trump's Playboy chat shows 'he is inspired by China' | Sunshine Coast Dailypremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_icon", 'topic': 'entertainment', 'url': 'https://www.sunshinecoastdaily.com.au/news/trump-haunted-by-playboy-interview/4031153/', 'webpage_source': 'sunshinecoastdaily.com.au'}, {'index': 4, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 7, 6), 'full_text': " Watch this discussion.Stop watching this discussion. (0) comments Welcome to the discussion. Keep it Clean. Please avoid obscene, vulgar, lewd,\nrac ... (635 characters truncated) ... d responsible for factual errors, misspellings, or student profile information as such. If you see an error that needs correcting, please contact us.", 'img_url': 'https://bloximages.chicago2.vip.townnews.com/herald-review.com/content/tncms/assets/v3/editorial/b/a2/ba2d38a9-32ff-51de-b367-dbc66c14a181/5eda7f0be2425.image.jpg?crop=880%2C495%2C0%2C239&resize=880%2C495&order=crop%2Cresize', 'site_name': 'Herald-Review.com', 'title': 'Blue, Ricya | Eisenhower High School | herald-review.com', 'topic': 'tech', 'url': 'https://herald-review.com/virtual_graduations/high_school/eisenhower_high_school/blue-ricya/article_29ebba96-43f4-55a9-8449-516141ef6276.html', 'webpage_source': 'herald-review.com'}, {'index': 5, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': ' California governor orders end to carotid hold training SACRAMENTO, Calif. (AP)  California Gov. Gavin Newsom on Friday ordered the state police tr ... (1230 characters truncated) ... crowds during the current protests. Newsom also said he wants the Legislature to set standards for crowd control and police use of force in protests.', 'img_url': 'https://www.cbs17.com/wp-content/uploads/sites/29/2019/06/cropped-Browser-tab-logo.jpg', 'site_name': 'CBS17.com', 'title': 'California governor orders end to carotid hold training  CBS17.comOpen NavigationClose NavigationSearchFacebookTwitterYouTubeRSS FeedEmail', 'topic': 'politics', 'url': 'https://www.cbs17.com/news/california-governor-orders-end-to-carotid-hold-training/', 'webpage_source': 'cbs17.com'}, {'index': 6, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': ' Americans losing confidence in democracy People are giving up on traditional, political actions like voting, town hall meetings, and volunteering. T ... (1027 characters truncated) ...  respond with a call for law and order, inviting comparisons to President Nixons election in 1968. Already a subscriber? Username or Email Address', 'img_url': 'https://i2.wp.com/iolaregister.s3.amazonaws.com/production/uploads/2020/06/Alabama-protests.jpg?fit=1000%2C668&ssl=1', 'site_name': 'The Iola Register', 'title': 'Americans losing confidence in democracy - The Iola Register', 'topic': 'politics', 'url': 'https://www.iolaregister.com/opinion/americans-losing-confidence-in-democracy', 'webpage_source': 'iolaregister.com'}, {'index': 7, 'author': None, 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': ' The unemployment rate rose to a record high of 13.7%, topping the previous high of 13.1% set in December 1982 in more than four decades of comparabl ... (493 characters truncated) ...  292,000 in May. Copyright 2020 The Associated Press. All rights reserved. This material may not be published, broadcast, rewritten or redistributed.', 'img_url': 'https://www.cbs17.com/wp-content/uploads/sites/29/2019/06/cropped-Browser-tab-logo.jpg', 'site_name': 'CBS17.com', 'title': 'Canadian economy unexpectedly adds 289,600 jobs in May  CBS17.comOpen NavigationClose NavigationSearchFacebookTwitterYouTubeRSS FeedEmail', 'topic': 'business', 'url': 'https://www.cbs17.com/news/canadian-economy-unexpectedly-adds-289600-jobs-in-may/', 'webpage_source': 'cbs17.com'}  ... displaying 10 of 11 total bound parameter sets ...  {'index': 9, 'author': 'Jenna Thompson', 'crawl_date': datetime.date(2020, 6, 6), 'crawl_desc': 'news cc-crawl', 'crawl_url': 'crawl-data/CC-NEWS/2020/06/CC-NEWS-20200605231932-00406.warc.gz', 'date': datetime.date(2020, 6, 6), 'full_text': ' When is it going to stop? When is it going to stop? WHEN video footage emerged of George Floyd\'s fatal encounter with Minneapolis Police, like  ... (433 characters truncated) ... k Lives Matter movement. While proud to see Australians uniting over this latest tragedy, Ms Monaghan said she has reservations about its intentions.', 'img_url': 'https://media.apnarm.net.au/media/images/2020/06/03/v3imagesbin74e9103c79ec9a9ac638043d3412e158-nkemtmqkdwue6t80gu2_fct1065x598x108.0_ct1880x930.jpg', 'site_name': 'Sunshine Coast Daily', 'title': '\x80\x9cWhen is it going to stop?\x80\x9d | Sunshine Coast Dailypremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_iconpremium_icon', 'topic': 'politics', 'url': 'https://www.sunshinecoastdaily.com.au/news/when-is-it-going-to-stop/4030733/', 'webpage_source': 'sunshinecoastdaily.com.au'}, {'index': 10, 'author': None, 'crawl_date': None, 'crawl_desc': None, 'crawl_url': None, 'date': None, 'full_text': None, 'img_url': None, 'site_name': 'web fusion', 'title': None, 'topic': None, 'url': None, 'webpage_source': 'webfusion.com'})

2020-06-25 17:17:43,852 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:44,191 INFO sqlalchemy.engine.base.Engine ALTER TABLE staging ALTER COLUMN crawl_date TYPE TIMESTAMP WITHOUT TIME ZONE USING crawl_date::timestamp without time zone;
2020-06-25 17:17:44,193 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:44,800 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:45,112 INFO sqlalchemy.engine.base.Engine ALTER TABLE staging ALTER COLUMN date TYPE TIMESTAMP WITHOUT TIME ZONE USING crawl_date::timestamp without time zone;
2020-06-25 17:17:45,114 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:45,723 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:46,033 INFO sqlalchemy.engine.base.Engine INSERT INTO crawls (crawl_date, crawl_url, crawl_desc) SELECT crawl_date, crawl_url, crawl_desc FROM staging ON CONFLICT DO NOTHING;
2020-06-25 17:17:46,034 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:46,643 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:46,950 INFO sqlalchemy.engine.base.Engine INSERT INTO sources (source_url, source_name) SELECT webpage_source, site_name FROM staging ON CONFLICT DO NOTHING;
2020-06-25 17:17:46,958 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:47,564 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:47,873 INFO sqlalchemy.engine.base.Engine INSERT INTO webpages (crawl_id, webpage_url, source_id) SELECT crawls.crawl_id, staging.url, sources.source_id FROM crawls, staging, sources WHERE staging.crawl_url = crawls.crawl_url AND staging.webpage_source = sources.source_url ON CONFLICT DO NOTHING;
2020-06-25 17:17:47,879 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:48,491 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:48,795 INFO sqlalchemy.engine.base.Engine INSERT INTO articles (published_date,title, text, image_url,topic, webpage_id) SELECT staging.date, staging.title, staging.full_text, staging.img_url, staging.topic, webpages.webpage_id FROM webpages, staging WHERE staging.url = webpages.webpage_url ON CONFLICT DO NOTHING;
2020-06-25 17:17:48,801 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:49,411 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:49,720 INFO sqlalchemy.engine.base.Engine INSERT INTO persons (full_name) SELECT staging.author FROM staging WHERE staging.author IS NOT NULL ON CONFLICT DO NOTHING;
2020-06-25 17:17:49,723 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:50,329 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-25 17:17:50,641 INFO sqlalchemy.engine.base.Engine INSERT INTO article_authors (webpage_id, person_id) SELECT webpages.webpage_id, persons.person_id FROM persons, staging, webpages WHERE staging.author IS NOT NULL AND staging.author = persons.full_name AND staging.url = webpages.webpage_url ON CONFLICT DO NOTHING;
2020-06-25 17:17:50,644 INFO sqlalchemy.engine.base.Engine {}
2020-06-25 17:17:51,255 INFO sqlalchemy.engine.base.Engine COMMIT

### Setting default search language

```sql
SHOW default_text_search_config;

set default_text_search_config = 'pg_catalog.english';

ALTER ROLE postgres IN DATABASE masterdatabase
SET default_text_search_config TO 'pg_catalog.english';

```

In [16]:
# Listing 5-23

s = text(
'''SELECT to_tsvector('english','Americans losing confidence in democracy People are giving up on traditional, 
political actions like voting, ngs, and volunteering. They see a government on autopilot, 
with little regard to what voters or even politicians want.');''') 
conn.execute(s).fetchall()

2020-06-25 16:40:11,041 INFO sqlalchemy.engine.base.Engine SELECT to_tsvector('english','Americans losing confidence in democracy People are giving up on traditional,
political actions like voting, ngs, and volunteering. They see a government on autopilot,
with little regard to what voters or even politicians want.');
2020-06-25 16:40:11,042 INFO sqlalchemy.engine.base.Engine {}

[("'action':13 'american':1 'autopilot':24 'confid':3 'democraci':5 'even':32 'give':8 'govern':22 'like':14 'littl':26 'lose':2 'ngs':16 'peopl':6 'polit':12 'politician':33 'regard':27 'see':20 'tradit':11 'volunt':18 'vote':15 'voter':30 'want':34",)]

In [ ]:
# Listing 5-24

s = text('''SELECT pid, p_title, p_text, ts_rank(full_search.sample_document, to_tsquery('english', 'lose & Trump')) as relevancy      
FROM (SELECT articles.article_id as pid, 
			articles.title as p_title,
			articles.text as p_text,
			to_tsvector('english', articles.title) ||
       		to_tsvector('english', articles.text) 
       		as sample_document
       FROM articles
       GROUP BY articles.article_id) full_search
       WHERE full_search.sample_document @@ to_tsquery('english','lose & Trump')
       ORDER BY relevancy DESC;''')
conn.execute(s).fetchall()